<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comom.mapper.ContractOrderMapper">
    <resultMap id="BaseResultMap" type="com.comom.domain.ContractOrder">
        <!--@mbg.generated-->
        <!--@Table contract_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time_stamp" jdbcType="BIGINT" property="createTimeStamp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time_stamp" jdbcType="BIGINT" property="updateTimeStamp"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="client_order_id" jdbcType="VARCHAR" property="clientOrderId"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="leverage" jdbcType="VARCHAR" property="leverage"/>
        <result column="orig_qty" jdbcType="VARCHAR" property="origQty"/>
        <result column="execute_qty" jdbcType="VARCHAR" property="executeQty"/>
        <result column="avg_price" jdbcType="VARCHAR" property="avgPrice"/>
        <result column="margin_locked" jdbcType="VARCHAR" property="marginLocked"/>
        <result column="order_type" jdbcType="VARCHAR" property="orderType"/>
        <result column="price_type" jdbcType="VARCHAR" property="priceType"/>
        <result column="side" jdbcType="VARCHAR" property="side"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="time_in_force" jdbcType="VARCHAR" property="timeInForce"/>
        <result column="ref_order_id" jdbcType="BIGINT" property="refOrderId"/>
        <result column="ref_trade_id" jdbcType="VARCHAR" property="refTradeId"/>
        <result column="fee" jdbcType="DOUBLE" property="fee"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time_stamp, create_time, update_time_stamp, update_time, order_id, client_order_id,
        symbol, price, leverage, orig_qty, execute_qty, avg_price, margin_locked, order_type,
        price_type, side, `status`, time_in_force, ref_order_id, ref_trade_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from contract_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from contract_order
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.comom.domain.ContractOrder"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into contract_order (create_time_stamp, create_time, update_time_stamp,
        update_time, order_id, client_order_id,
        symbol, price, leverage,
        orig_qty, execute_qty, avg_price,
        margin_locked, order_type, price_type,
        side, `status`, time_in_force,
        ref_order_id, ref_trade_id)
        values (#{createTimeStamp,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTimeStamp,jdbcType=BIGINT},
        #{updateTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=BIGINT}, #{clientOrderId,jdbcType=VARCHAR},
        #{symbol,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{leverage,jdbcType=VARCHAR},
        #{origQty,jdbcType=VARCHAR}, #{executeQty,jdbcType=VARCHAR}, #{avgPrice,jdbcType=VARCHAR},
        #{marginLocked,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{priceType,jdbcType=VARCHAR},
        #{side,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{timeInForce,jdbcType=VARCHAR},
        #{refOrderId,jdbcType=BIGINT}, #{refTradeId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.comom.domain.ContractOrder"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into contract_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTimeStamp != null">
                create_time_stamp,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTimeStamp != null">
                update_time_stamp,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="clientOrderId != null">
                client_order_id,
            </if>
            <if test="symbol != null">
                symbol,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="leverage != null">
                leverage,
            </if>
            <if test="origQty != null">
                orig_qty,
            </if>
            <if test="executeQty != null">
                execute_qty,
            </if>
            <if test="avgPrice != null">
                avg_price,
            </if>
            <if test="marginLocked != null">
                margin_locked,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="priceType != null">
                price_type,
            </if>
            <if test="side != null">
                side,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="timeInForce != null">
                time_in_force,
            </if>
            <if test="refOrderId != null">
                ref_order_id,
            </if>
            <if test="refTradeId != null">
                ref_trade_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTimeStamp != null">
                #{createTimeStamp,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTimeStamp != null">
                #{updateTimeStamp,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="clientOrderId != null">
                #{clientOrderId,jdbcType=VARCHAR},
            </if>
            <if test="symbol != null">
                #{symbol,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="leverage != null">
                #{leverage,jdbcType=VARCHAR},
            </if>
            <if test="origQty != null">
                #{origQty,jdbcType=VARCHAR},
            </if>
            <if test="executeQty != null">
                #{executeQty,jdbcType=VARCHAR},
            </if>
            <if test="avgPrice != null">
                #{avgPrice,jdbcType=VARCHAR},
            </if>
            <if test="marginLocked != null">
                #{marginLocked,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="priceType != null">
                #{priceType,jdbcType=VARCHAR},
            </if>
            <if test="side != null">
                #{side,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="timeInForce != null">
                #{timeInForce,jdbcType=VARCHAR},
            </if>
            <if test="refOrderId != null">
                #{refOrderId,jdbcType=BIGINT},
            </if>
            <if test="refTradeId != null">
                #{refTradeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.comom.domain.ContractOrder">
        <!--@mbg.generated-->
        update contract_order
        <set>
            <if test="createTimeStamp != null">
                create_time_stamp = #{createTimeStamp,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTimeStamp != null">
                update_time_stamp = #{updateTimeStamp,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="clientOrderId != null">
                client_order_id = #{clientOrderId,jdbcType=VARCHAR},
            </if>
            <if test="symbol != null">
                symbol = #{symbol,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="leverage != null">
                leverage = #{leverage,jdbcType=VARCHAR},
            </if>
            <if test="origQty != null">
                orig_qty = #{origQty,jdbcType=VARCHAR},
            </if>
            <if test="executeQty != null">
                execute_qty = #{executeQty,jdbcType=VARCHAR},
            </if>
            <if test="avgPrice != null">
                avg_price = #{avgPrice,jdbcType=VARCHAR},
            </if>
            <if test="marginLocked != null">
                margin_locked = #{marginLocked,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="priceType != null">
                price_type = #{priceType,jdbcType=VARCHAR},
            </if>
            <if test="side != null">
                side = #{side,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="timeInForce != null">
                time_in_force = #{timeInForce,jdbcType=VARCHAR},
            </if>
            <if test="refOrderId != null">
                ref_order_id = #{refOrderId,jdbcType=BIGINT},
            </if>
            <if test="refTradeId != null">
                ref_trade_id = #{refTradeId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.comom.domain.ContractOrder">
        <!--@mbg.generated-->
        update contract_order
        set create_time_stamp = #{createTimeStamp,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time_stamp = #{updateTimeStamp,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        order_id = #{orderId,jdbcType=BIGINT},
        client_order_id = #{clientOrderId,jdbcType=VARCHAR},
        symbol = #{symbol,jdbcType=VARCHAR},
        price = #{price,jdbcType=DOUBLE},
        leverage = #{leverage,jdbcType=VARCHAR},
        orig_qty = #{origQty,jdbcType=VARCHAR},
        execute_qty = #{executeQty,jdbcType=VARCHAR},
        avg_price = #{avgPrice,jdbcType=VARCHAR},
        margin_locked = #{marginLocked,jdbcType=VARCHAR},
        order_type = #{orderType,jdbcType=VARCHAR},
        price_type = #{priceType,jdbcType=VARCHAR},
        side = #{side,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        time_in_force = #{timeInForce,jdbcType=VARCHAR},
        ref_order_id = #{refOrderId,jdbcType=BIGINT},
        ref_trade_id = #{refTradeId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from contract_order
        where FIND_IN_SET(status,#{Status,jdbcType=VARCHAR})
    </select>
    <select id="selectByNoClose" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        FROM
        contract_order t
        WHERE
        (
        t.ref_order_id = '0'
        OR EXISTS ( SELECT 1 FROM contract_order f WHERE t.ref_order_id = f.order_id AND f.STATUS != 'FILLED' )
        )
        AND t.STATUS = 'FILLED'
        AND t.side IN (
        'BUY_OPEN',
        'SELL_OPEN'
        )

    </select>

    <select id="selectByNoCloseOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        t.*,
        tr.fee
        FROM
        contract_order t
        left join my_trade tr on t.ref_trade_id=tr.trade_id
        WHERE
        t.ref_order_id = '0' and t.symbol=#{symbol,jdbcType=VARCHAR}
        AND t.STATUS = 'FILLED'
        AND t.side IN (
        'BUY_OPEN',
        'SELL_OPEN'
        )

    </select>
</mapper>